In [24]:
import pandas as pd
import numpy as np
data_set=pd.read_csv("billionaire.csv")
data_set.head()
data_set.columns
data_set.isnull()
print(data_set.isnull().sum())
type(data_set)
data_set["gender"].unique()
#find how to find the sum of unique elements
print(data_set.dropna())
print(data_set.dropna(axis=1))

Unnamed: 0                    0
name                          0
last_name                 10850
age                           0
gender                    11892
time                          0
permanent_country         47691
company                   25500
main_industry                 0
wealth_source_details     10922
industry                     49
state                    193179
headquarters             218714
countries                     0
annual_income                 0
daily_income                  0
birth_year                    0
name_cleaned                  0
dtype: int64
        Unnamed: 0                name  last_name  age gender  time  \
1199        118347  Hank & Doug Meijer     Meijer   69      M  2012
1200        118348  Hank & Doug Meijer     Meijer   69      M  2012
1201        118349  Hank & Doug Meijer     Meijer   69      M  2012
1202        118350  Hank & Doug Meijer     Meijer   69      M  2012
1203        118351  Hank & Doug Meijer     Meijer   69      M  2012
...            ...                 ...        ...  ...    ...   ...
346804      352559      Yvon Chouinard  Chouinard   83      M  2022
346805      352560      Yvon Chouinard  Chouinard   83      M  2022
346806      352561      Yvon Chouinard  Chouinard   83      M  2022
346807      352562      Yvon Chouinard  Chouinard   83      M  2022
346808      352563      Yvon Chouinard  Chouinard   83      M  2022

                          permanent_country               company  \
1199    United States-Michigan-Grand Rapids    Meijer Supermarket
1200    United States-Michigan-Grand Rapids    Meijer Supermarket
1201    United States-Michigan-Grand Rapids    Meijer Supermarket
1202    United States-Michigan-Grand Rapids    Meijer Supermarket
1203    United States-Michigan-Grand Rapids    Meijer Supermarket
...                                     ...                   ...
346804                United States-Ventura  Patagonia;Pentagonia
346805                United States-Ventura  Patagonia;Pentagonia
346806                United States-Ventura  Patagonia;Pentagonia
346807                United States-Ventura  Patagonia;Pentagonia
346808                United States-Ventura  Patagonia;Pentagonia

           main_industry wealth_source_details  \
1199    Fashion & Retail          supermarkets
1200    Fashion & Retail          supermarkets
1201    Fashion & Retail          supermarkets
1202    Fashion & Retail          supermarkets
1203    Fashion & Retail          supermarkets
...                  ...                   ...
346804  Fashion & Retail             Patagonia
346805  Fashion & Retail             Patagonia
346806  Fashion & Retail             Patagonia
346807  Fashion & Retail             Patagonia
346808  Fashion & Retail             Patagonia

                                                 industry       state  \
1199    Fashion & Retail; Fashion and Retail;Multi-Bra...    Michigan
1200    Fashion & Retail; Fashion and Retail;Multi-Bra...    Michigan
1201    Fashion & Retail; Fashion and Retail;Multi-Bra...    Michigan
1202    Fashion & Retail; Fashion and Retail;Multi-Bra...    Michigan
1203    Fashion & Retail; Fashion and Retail;Multi-Bra...    Michigan
...                                                   ...         ...
346804                 Fashion & Retail;Sportswear;Retail  California
346805                 Fashion & Retail;Sportswear;Retail  California
346806                 Fashion & Retail;Sportswear;Retail  California
346807                 Fashion & Retail;Sportswear;Retail  California
346808                 Fashion & Retail;Sportswear;Retail  California

       headquarters countries  annual_income  daily_income  birth_year  \
1199             MI       usa      152880000        418849        1953
1200             MI       usa      152880000        422465        1953
1201             MI       usa      152880000        707013        1953
1202             MI       usa      152880000        896161        1953
1203             MI       usa      152880000        686778        1953
...             ...       ...            ...           ...         ...
346804           CA       usa       30960000         78493        1939
346805           CA       usa       30960000        115273        1939
346806           CA       usa       30960000         90443        1939
346807           CA       usa       30960000        130191        1939
346808           CA       usa       30960000         84821        1939

            name_cleaned
1199    hank_doug_meijer
1200    hank_doug_meijer
1201    hank_doug_meijer
1202    hank_doug_meijer
1203    hank_doug_meijer
...                  ...
346804    yvon_chouinard
346805    yvon_chouinard
346806    yvon_chouinard
346807    yvon_chouinard
346808    yvon_chouinard

[118858 rows x 18 columns]
        Unnamed: 0                          name  age  time  \
0              675  Abdulla bin Ahmad Al Ghurair   67  2013
1              676  Abdulla bin Ahmad Al Ghurair   67  2013
2              677  Abdulla bin Ahmad Al Ghurair   67  2013
3              678  Abdulla bin Ahmad Al Ghurair   67  2013
4              679  Abdulla bin Ahmad Al Ghurair   67  2013
...            ...                           ...  ...   ...
352364      358313            Zygmunt Solorz-Zak   65  2022
352365      358314            Zygmunt Solorz-Zak   65  2022
352366      358315            Zygmunt Solorz-Zak   65  2022
352367      358316            Zygmunt Solorz-Zak   65  2022
352368      358317            Zygmunt Solorz-Zak   65  2022

                main_industry countries  annual_income  daily_income  \
0                 Diversified       are       95604000        261928
1                 Diversified       are       95604000        399254
2                 Diversified       are       95604000        536021
3                 Diversified       are       95604000        410391
4                 Diversified       are       95604000        558904
...                       ...       ...            ...           ...
352364  Media & Entertainment       pol       74820000        219780
352365  Media & Entertainment       pol       74820000        207493
352366  Media & Entertainment       pol       74820000        180887
352367  Media & Entertainment       pol       74820000        231452
352368  Media & Entertainment       pol       74820000        204986

        birth_year                  name_cleaned
0             1955  abdulla_bin_ahmad_al_ghurair
1             1955  abdulla_bin_ahmad_al_ghurair
2             1955  abdulla_bin_ahmad_al_ghurair
3             1955  abdulla_bin_ahmad_al_ghurair
4             1955  abdulla_bin_ahmad_al_ghurair
...            ...                           ...
352364        1957            zygmunt_solorz_zak
352365        1957            zygmunt_solorz_zak
352366        1957            zygmunt_solorz_zak
352367        1957            zygmunt_solorz_zak
352368        1957            zygmunt_solorz_zak

[352369 rows x 10 columns]

str="hansi"
str.replace("h","w")
print(str)