HISTOGRAM=GRAPHICAL REPRESENTATION OF DATA WHERE DATA POINTS ARE DIVIDED WITH EQUAL WIDTH AND NO DATA POINT IS REPEATING,WE WILLL CALCULATE MEAN,MODE
BINNING=IT IS LIKE DIVIDING CONTINUOU S DATA TO SMALL GROUP
DATA DISTRUBUTION=HOW BEAUTIFULLY WE GROOUP DATA=
1)UNIFORN DN=
2)SCREW DISTRUBUTION
3)NORMAL DISTRUBUTION=

In [11]:
import numpy as np
import pandas as pd
a={"a":[1,2,3],"b":[4,5,6],"c":[7,8,9]}
df=pd.DataFrame(a)
print(df)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [14]:
df3=pd.DataFrame([10,11,12],columns=["hansi"])
print(df3)

   hansi
0     10
1     11
2     12

In [15]:
df1=pd.DataFrame()
print(df1)

Empty DataFrame
Columns: []
Index: []

In [35]:
import numpy as np
import pandas as pd
a={"a":[1,2,3],"b":[4,5,6],"c":[7,8,9]}
b={"a":[1,2,3],"b":[0,5,6],"c":[7,8,9]}
df1=pd.DataFrame(a)
df2=pd.DataFrame(b)
pd.concat([df1,df2])
print(pd.merge(df1,df2,how='inner',on="b"))

   a_x  b  c_x  a_y  c_y
0    2  5    8    2    8
1    3  6    9    3    9

In [8]:
import pandas as pd
k1={"usn":[21,22,23],"name":["hansi","naveen","veeru"]}
k2={"usn":[29,22,27],"marks":[99,54,56]}
df11=pd.DataFrame(k1)
df22=pd.DataFrame(k2)
print(pd.merge(df11,df22,how="left"))

   usn    name  marks
0   21   hansi    NaN
1   22  naveen   54.0
2   23   veeru    NaN

In [10]:
import pandas as pd
k1={"usn":[21,22,23],"name":["hansi","naveen","veeru"]}
k2={"usn":[21,22,23],"marks":[99,54,56]}
df11=pd.DataFrame(k1
df22=pd.DataFrame(k2)
print(pd.merge(df11,df22,how="left"))

   usn    name  marks
0   21   hansi     99
1   22  naveen     54
2   23   veeru     56