In [77]:
import pandas as pd
df=pd.read_csv("data.csv")
pd.options.display.max_rows=169
print(df)#NOTE:The element of the first row are considered as names for columns or labels for columns

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [8]:
print(df.head())#displays top 5 elements

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [10]:
print(df.tail())

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [61]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  164 non-null    int64
 1   Pulse     164 non-null    int64
 2   Maxpulse  164 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.4 KB
None

# changing index of the df created by a csv file

In [75]:
import pandas as pd
#df1=pd.read_csv("/Users/hansi/Desktop/hansi/wrwe/python/4th sem/Pandas/nullvaluesfile.csv",index=[1,2,3,4]) 
#like in above line u cant change it throws u error saying unexpected argument to read_csv() so u need to do as below
print(df1)
#passing list of newindexes NOTE:MAKe sure length of list is equals to no of rows
df1.index=[1,2,3,4]
print(df1)

   c1    c2  c3    c4
1  11   NaN  13  14.0
2  21  22.0  23  24.0
3  31  32.0  33   NaN
4  41  42.0  43  44.0
   c1    c2  c3    c4
1  11   NaN  13  14.0
2  21  22.0  23  24.0
3  31  32.0  33   NaN
4  41  42.0  43  44.0

In [70]:
import pandas as pd
df1=pd.read_csv("/Users/hansi/Desktop/hansi/wrwe/python/4th sem/Pandas/nullvaluesfile.csv")
print(df1)

   c1    c2  c3    c4
0  11   NaN  13  14.0
1  21  22.0  23  24.0
2  31  32.0  33   NaN
3  41  42.0  43  44.0

# removing rows with null values

In [25]:
df1.dropna()
print(df1,"\n")#see eventhough we dropped null values we are getting the whole data which means in this case df is immutable so we need to assign it to some other variable but while we print(df1.dropna()) the data is printed by deleting the data
print("printing directly dropna()")
print(df1.dropna(),"\n")
print("printing after assigning to new var")
df3=df1.dropna()
print(df3)

  Unnamed: 0  c1    c2  c3    c4
0         r1  11   NaN  13  14.0
1         r2  21  22.0  23  24.0
2         r3  31  32.0  33   NaN
3         r4  41  42.0  43  44.0

printing directly dropna()
  Unnamed: 0  c1    c2  c3    c4
1         r2  21  22.0  23  24.0
3         r4  41  42.0  43  44.0

printing after assigning to new var
  Unnamed: 0  c1    c2  c3    c4
1         r2  21  22.0  23  24.0
3         r4  41  42.0  43  44.0

# removing rows with null values from original data frame

in the above case eventhough we used dropna() the rows with null values arent deleted in the same df when we assigned it to other dataframe and displayed the df.
so what if we want to delete the original dataframe then in that case the inplace keyword comes into picture

In [32]:
import pandas as pd
df4=pd.read_csv("/Users/hansi/Desktop/hansi/wrwe/python/4th sem/Pandas/nullvaluesfile.csv")
print(df4)
df4.dropna(inplace=True)
print(df4)#see in the original file itself the rows with null values are deleted

  Unnamed: 0  c1    c2  c3    c4
0         r1  11   NaN  13  14.0
1         r2  21  22.0  23  24.0
2         r3  31  32.0  33   NaN
3         r4  41  42.0  43  44.0
  Unnamed: 0  c1    c2  c3    c4
1         r2  21  22.0  23  24.0
3         r4  41  42.0  43  44.0

# removing columns with null values

In [38]:
import pandas as pd
df5=pd.read_csv("/Users/hansi/Desktop/hansi/wrwe/python/4th sem/Pandas/nullvaluesfile.csv")
print(df5)
print("removing columns with null values in the original data frame")
df5.dropna(axis=1,inplace=True)
print(df5)#removes c2 and c4 as there are null values in those clolums

  Unnamed: 0  c1    c2  c3    c4
0         r1  11   NaN  13  14.0
1         r2  21  22.0  23  24.0
2         r3  31  32.0  33   NaN
3         r4  41  42.0  43  44.0
removing columns with null values in the original data frame
  Unnamed: 0  c1  c3
0         r1  11  13
1         r2  21  23
2         r3  31  33
3         r4  41  43

# Replacing empty cells with some other values like someother integer,mean,mode,median

# replacing with some other integer

In [49]:
import pandas as pd
df6=pd.read_csv("/Users/hansi/Desktop/hansi/wrwe/python/4th sem/Pandas/nullvaluesfile.csv")
print("before filling")
print(df6,"\n")
df6.fillna(40,inplace=True)#replacing the columns with null value by 40
print("after filling")
print(df6)#see in (c2,r1) and (c4,r3) are replaced with value 40

before filling
  Unnamed: 0  c1    c2  c3    c4
0         r1  11   NaN  13  14.0
1         r2  21  22.0  23  24.0
2         r3  31  32.0  33   NaN
3         r4  41  42.0  43  44.0

after filling
  Unnamed: 0  c1    c2  c3    c4
0         r1  11  40.0  13  14.0
1         r2  21  22.0  23  24.0
2         r3  31  32.0  33  40.0
3         r4  41  42.0  43  44.0

# replacing empty cells of a column with mean,mode,median of that columns

In [60]:
import pandas as pd
df7=pd.read_csv("/Users/hansi/Desktop/hansi/wrwe/python/4th sem/Pandas/nullvaluesfile.csv")
print("before filling")
print(df7)
x=df7["c2"].mean()
df7.fillna(x,inplace=True)
print(df7,"\n","or")
df7.fillna(df7["c2"].mean(),inplace=True)
print(df7)

before filling
  Unnamed: 0  c1    c2  c3    c4
0         r1  11   NaN  13  14.0
1         r2  21  22.0  23  24.0
2         r3  31  32.0  33   NaN
3         r4  41  42.0  43  44.0
  Unnamed: 0  c1    c2  c3    c4
0         r1  11  32.0  13  14.0
1         r2  21  22.0  23  24.0
2         r3  31  32.0  33  32.0
3         r4  41  42.0  43  44.0
 or
  Unnamed: 0  c1    c2  c3    c4
0         r1  11  32.0  13  14.0
1         r2  21  22.0  23  24.0
2         r3  31  32.0  33  32.0
3         r4  41  42.0  43  44.0

as we see. above the both null values of c2 and c4 columns were replaced with mean of c3 only so what if we want to replace individual col with individual means then comes concept of repalcing null values of particular columns

# repalcing null values of particular columns

In [78]:
import pandas as pd
df8=pd.read_csv("/Users/hansi/Desktop/hansi/wrwe/python/4th sem/Pandas/nullvaluesfile.csv")
print("before filling")
print(df8,"\n")
print("after filling only c2 with mean of c2")
x=df8["c2"].mean()
#replacing the only c2 of df8 with mean of c2 of df8
df8["c2"].fillna(x,inplace=True)
print(df8,"\n")
print("#replacing the only c4 of df8 with mean of c3 of df8")
y=df8["c4"].mean()
df8.fillna(y,inplace=True)
print(df8)



#similarly mode(),median() and all

before filling
   c1    c2  c3    c4
0  11   NaN  13  14.0
1  21  22.0  23  24.0
2  31  32.0  33   NaN
3  41  42.0  43  44.0

after filling only c2 with mean of c2
   c1    c2  c3    c4
0  11  32.0  13  14.0
1  21  22.0  23  24.0
2  31  32.0  33   NaN
3  41  42.0  43  44.0

#replacing the only c4 of df8 with mean of c3 of df8
   c1    c2  c3         c4
0  11  32.0  13  14.000000
1  21  22.0  23  24.000000
2  31  32.0  33  27.333333
3  41  42.0  43  44.000000

# how to repalce col with empty cells in row s

In [93]:
import pandas as pd
df8=pd.read_csv("/Users/hansi/Desktop/hansi/wrwe/python/4th sem/Pandas/nullvaluesfile.csv")
df8.index=["a",'b',"c","d"]
print(df8)
print(df8.loc["a"].mean())
i=df8.loc["a"].mean()
print("changing the null values in row \"a\" with mean of row \"a\"")
df9=df8.loc["a"].fillna(50,inplace=True)
print(df9)

   c1    c2  c3    c4
a  11   NaN  13  14.0
b  21  22.0  23  24.0
c  31  32.0  33   NaN
d  41  42.0  43  44.0
12.666666666666666
changing the null values in row "a" with mean of row "a"
None

/var/folders/j2/7vzyj65535sdpxn_vd38sncm0000gn/T/ipykernel_17255/73073667.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df9=df8.loc["a"].fillna(50,inplace=True)